<% include partials/header %>

<div class="container">
    <textarea id="writingArea">
# A Realtime Markdown Editor

### About

Type your markdown on the left and immediately see the result on the right. You and your friends can edit the same document at the same time if you send them a link (other than the home page).

### Usage

Type anything after the slash in the URL (except for another slash) to visit a unique document and just start creating markdown. An example link would be: 
    
- https://markdowneditor.herokuapp.com/someSetOfCharactersHere

### Technologies Used

This website uses the following to work:

- [Markdown](https://github.com/showdownjs/showdown) - Used to convert Markdown to HTML
- [ShareJS](https://github.com/josephg/ShareJS) - Used for realtime editing
- [Node.js](https://nodejs.org/) - Used as the backend framework 
- [Redis](http://redis.io/) - Used to store the markdown documents at different urls
    </textarea>
    <div id="displayArea"></div>
</div>

<% include partials/footer %>